

.card-poke-container {
  width: 95vw;
  height: 60%;
  margin: 50px auto;
  text-align: center;

}
.titulo {
  font-size: 30px !important;
  color: #ffffff;
  letter-spacing: 0.5em;
  background-color: rgb(250, 37, 80);
  width: 100%;
}
.card-back-button {
  display: grid !important;
  margin-bottom: 10px;
}
.poke-avatar {
  width: 150px !important;
  height: 150px !important;
  margin: auto;
}

.pagina-no-encontrada {
  align-content: center;
  text-align: center;
  margin: auto;
  font-size: 50px;
  color: red;
}
